.main{
    height:80vh;
    width:100vw;
    box-sizing: border-box;
    background-color: #FDECEE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_div{
    border-radius:10px;
    height:200px;
    width:453px;
    margin-top: 0%;


}

.img_div img{
    height:100%;
    width:100%;
    object-fit:cover;
    object-position: center;
    margin-top: 0px;
    border-start-start-radius: 15px;
    border-top-right-radius: 15px;
}

.sign_up{
    font-size: 20px;
    margin-top: 0px;
}

.container{
    width:30%;
    height:88%;
    border-radius: 15px;
    background-color: white;
    margin:10px auto;
}

.sign_up h3{
  font-size: 23px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 400;
  font-family:'Times New Roman', Times, serif
}

.sign_up{
    margin:50px auto;
}

.sign_up h4{
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  font-stretch: expanded;
}

.sign_up div{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    
} 

.sign_up button{
    background-color: #9F2089;;
    font-size: 20px;
    width:90%;
    padding: 10px;;
    border-radius: 6px;
    margin:30px 20px;
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}

.sign_up label{
    font-size: 16px;
}
.sign_up input{
    border-top: none;
    border-left:none;
    border-right:none ;
    border-bottom: 1px solid black;
    border-radius: 5px;
    padding:5px;
}

.sign_up select{
    border:none;
    padding:5px;
    border-radius:5px;
}

.btn{
  font-size: 16px;
  background-color: rgb(15, 15, 148);
  border-radius: 7px;
  color:white;
  padding:10px;
}

.main{
    height:80vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}

.cartItem{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    /* margin:auto; */
    row-gap: 20px;
    column-gap: 100px;
    width:80%;
    height:30%;
    margin:10px auto;
}

.cartItem .img{
  width:190px;
  height:120px;
  object-fit: cover;
  object-position: center;
}

.buttonContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:40px;
}

.cartList li{
  list-style-type: none;
}

.cartContainer{
    width:100%;
    height:100%;
    display:flex;
}

.main p{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    margin:auto;
}

.btn1{
    font-size: 1.2vw;
    width:200px;
    border:none;
    border-radius: 8px;
    padding:10px;
    margin: auto; 
    background-color: rgb(12, 12, 129);
    color:white;
    cursor:pointer;
}

.cartItem h3{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin:40px 0px;
}

.header h2{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}